/* $bg: #EDF2F0;

$neu-1: #ecf0f3;
$neu-2: #d1d9e6;

$white: #f9f9f9;
$gray: #a0a5a8;
$black: #181818;

$purple: #4B70E2;


$transition: 1.25s; */

body {
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  background-color: #ecf0f3;
  color: #2a2c2e;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fieldsetBody {  
  justify-content: center;
  align-items: center;

  top: 0;

}

.login{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 600px;
  height: 100%;
  padding: 25px;

background-color: #ecf0f3;
}

.pValor {
  font-size: large;
}

.tables {
  background-color:#d1d9e6;
  border: #181818;
}

.align {
  display: inline-flexbox;
  flex-direction: row;
  margin: 5%;
}

